<% title t('attributes.newf') +" "+show_model_name(::Subcategory, true) %>

<h1><%= t('attributes.newf') +" "+show_model_name(::Subcategory)%></h1><br />
<br />
<p><%= t('activerecord.attributes.subcategory.messages.new')%></p><br />
<br />

<%= render 'form' %>
