<% title t('attributes.new') +" "+ show_model_name(Webpart) %>

<h1><%= t('attributes.new') +" "+ show_model_name(Webpart)%></h1><br />
<br />
<p><%= t('activerecord.attributes.webpart.messages.new')%></p><br />
<br />

<%= render 'form' %>
