<% title t('attributes.new') +" "+show_model_name(::GuideType, true) %>

<h1><%= t('attributes.new') +" "+show_model_name(::GuideType)%></h1><br />
<br />
<p><%= t('activerecord.attributes.guide_type.messages.new')%></p><br />
<br />

<%= render 'form' %>


