<% title t('attributes.new') +" "+show_model_name(::ComplementMenu, true) %>

<h1><%= t('attributes.new') +" "+show_model_name(::ComplementMenu)%></h1><br />
<br />
<p><%= t('activerecord.attributes.complement_menu.messages.new')%></p><br />
<br />

<%= render 'form' %>
