<% title t('attributes.new') +" "+show_model_name(::Webmodule, true) %>

<h1><%= t('attributes.new') +" "+ show_model_name(::Webmodule, true)%></h1><br />
<br />
<p><%= t('activerecord.attributes.webmodule.messages.new')%></p><br />
<br />

<%= render 'form' %>
