<% title t('attributes.new') +" "+show_model_name(::Content, true) %>

<h1><%= t('attributes.new') +" "+show_model_name(::Content)%></h1><br />
<br />
<p><%= t('activerecord.attributes.content.messages.new')%></p><br />
<br />

<%= render 'form' %>
