@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'DaxCompactMedium';
    src: url('daxcompm_0-webfont.eot');
    src: url('daxcompm_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcompm_0-webfont.woff') format('woff'),
         url('daxcompm_0-webfont.ttf') format('truetype'),
         url('daxcompm_0-webfont.svg#DaxCompactMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
	position:relative;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e6eff9;
	margin: 0;
	padding: 0;
	color: #000;
}
img {
	max-width: 100%;
	padding: 0 0 1.6em 0;
}

#General
{
	position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
}
#Bg_general
{
	position:relative;
	opacity:;
}
/*Header*/
#Header 
{
	position:relative;
	width:320px;
	height:187px;/*414px*/
	background: #CCC;
	margin: 0 auto;
	border-bottom:#88b747 solid 5px;
	z-index:3000;
	margin-left:5px;
}
	 .Header_top
	 {
		 position:relative;
		 background:#f4f5f6;
		 width:320px;
		 height:187px;
		 margin:0 auto;
		 
		 
	 }
	 .Logo
	 {
		 position:relative;
		 display:block;
		 float:left;
		 width:320px;
	 }
/*End - Header*/

/*Container*/				 	 		 		 
#Container 
{
	position:relative;
	width: 980px;
	height:auto;
	background:;
	margin: 0 auto;
	z-index:1000;
}
	/*Box_left*/	
	#Box_left
	{
		position:relative;
		width: 744px;
		height: auto;
		float:left;
	}	
		.Content_top
		{
			position:relative;
			width: 741px;
			height:676px;
			background:#fff;
			float:left;
		}
				h1.Title_item_orange
				{
					position:relative;
					top:20px;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#e57100;	
					background-image:url(../images/bg_title_item_orange356.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;	
					margin-bottom:11px;					
				}
				h2.Title_2_item_red
				{
					position:relative;			
					font-family:DaxCompactMedium;
					font-size:20px;
					font-weight:normal;
					color:#df1a22;	
					margin-left:26px;
					margin-top:35px;						
				}	
				h3.Date_content_top		
				{
					position:relative;			
					font-family:Tahoma, Geneva, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#ec9038;	
					margin-left:26px;
					margin-bottom:50px;
					font-smooth:always;					
				}
				p.Text_top_box
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					width:670px;
					font-weight:normal;
					color:#a0a0a0;
					margin-left:26px;
				}										
		.Content_midle
		{
			position:relative;
			width: 741px;
			height: auto;
			float:left;
			background:#fff;
		}
			.Title_field_bmidle
			{
				position:relative;
				float:left;
				border-bottom:#eaeaea 1px solid;	
				width:685px;
				margin-left:26px;
				margin-bottom:12px;
				padding-bottom:12px;
			}
			h1.Title_gal_orange
			{
				position:relative;
				top:28px;
				left:0px;	
				float:left;				
				font-family:DaxCompactMedium;
				font-size:16px;
				font-weight:normal;
				color:#e57100;	
				padding-left:12px;	
							
			}	
			.Img_h1_gal_int_1
			{
				position:relative;
				float:left;	
				top:0px;
				left:0px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -129px -67px;
				width:50px;
				height:55px;	
			}				
			.Box_midle
			{
				position:relative;
				display:inline-block;
				*display:block;
				*float:left;
				background:#fff;
				width: 241px;
				height: 262px;
				margin-right:2px;
				margin-bottom:10px;
			}
			#Gallery_internal_box {
				position:relative;
				width:733px; 
				height:169px;
				margin:0 auto;
				margin-bottom:50px;
			}

		.Content_bottom
		{
			position:relative;
			display:inline-block;
			*display:block;
			*float:left;			
			width: 741px;
			height: 225px;
			background:#FFF;
			float:left;
		}
			.Title_field_bottom
			{
				position:relative;
				float:left;
				border-bottom:#eaeaea 1px solid;	
				width:685px;
				margin-left:26px;
				padding-bottom:12px;
				margin-bottom:11px;
			}
			h1.Title_video_orange
			{
				position:relative;
				top:28px;
				left:0px;	
				float:left;				
				font-family:DaxCompactMedium;
				font-size:16px;
				font-weight:normal;
				color:#e57100;	
				padding-left:12px;
							
			}	
			.Img_h1_video_int_1
			{
				position:relative;
				float:left;	
				top:0px;
				left:0px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -190px -67px;
				width:50px;
				height:55px;					
			}
			.Box_videos_content
			{
				position:relative;
				display:inline-block;
				*display:block;
				*float:left;	
				margin-left:26px;			
			}
				.Box_bottom_video
				{
					position:relative;
					float:left;
					width: 216px;
					height: 127px;
					margin-right:2px;
					margin-right:17px;
					margin-bottom:10px;
				}	
					h2.Tit_box_bot_videos	
					{
						position:relative;
						font-family:DaxCompactMedium;
						font-size:16px;
						font-weight:normal;
						color:#88b747;							
					}
					.Content_box_bot_videos	
					{
						position:relative;
						width: 216px;
						height: 80px;
						margin-top:5px;						
					}	
						.Image_box_videos
						{
							float:left;
							width:105px;
							height:79px;
							margin-right:8px;
						}
						.Text_info_box_videos
						{
							position:relative;
							float:left;
							width:103px;
							height:79px;
							font-size:13px;
							color:#a0a0a0;
						}					
					.Date_box_bot_videos	
					{
						font-family:Tahoma, Geneva, sans-serif;
						font-size:12px;
						font-weight:;
						color:#a0a0a0;
					}							

	/*End - Box_left*/
	/*Box_right*/					
	#Box_right
	{
		position:relative;
		width: 227px;
		height: 994px;	
		float:right;	
	}
		.Content_pub
		{
			position:relative;
			width:223px;
			height:190px;
			margin-bottom:7px;
			background:#FFFFFF;			
		}	
		.Content_pull
		{
			position:relative;				
			width: 223px;
			height: 280px;
			background:#fff;
			margin-right:2px;
			margin-bottom:14px;
			padding-top:11px;
			margin-top:50px;			
		}
				h1.Title_pull_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;
					margin-bottom:28px;					
				}
				.Img_h1_pull_1
				{
					position:absolute;
					top:-35px;
					left:150px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -0px -74px;
					width:68px;
					height:52px;		
				}	
				.Pull_item_box
				{
					position:relative;
					width:218px;
					min-height:10px;
					height:auto;
					margin-bottom:10px;
				}
				.Text_checkbox_p
				{
					position:relative;
					width:151px;
					float:left;
					text-align:justify;
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					color:#a0a0a0;
					margin-left:11px;				}
				.Content_pull input
				{
					position:relative;
					float:left;
				}
				.Btn_pull_send
				{
					position:absolute;
					left:57px;
					bottom:-8px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -5px -216px;
					width:110px;
					height:34px;	
					cursor:pointer;		
				}
		.Content_weather
		{
			position:relative;				
			width: 223px;
			height: 423px;
			background:#fff;
			padding-top:11px;
			margin-right:2px;
			margin-bottom:19px;		
		}
				.Title_weat_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}				
	/*End - Box_right*/
	/*Box_employees_1*/						
	#Box_employees_1
	{
		
		position:relative;
		display:inline-block;
		*display:block;
		*float:left;
		float:left;
		width:976px;
		height:auto;
		background:#fff;
		margin:0 auto;
		margin-top:35px;
	}
		.Content_realization
		{
			position:relative;
			width:165px;
			height:123px;
			float:left;
			background:#fff;
	  	}
		.Content_support
		{
			position:relative;
			width:175px;
			height:123px;
			float:left;
			background:#fff;
	  	}
		.Content_sponsors
		{
			position:relative;
			width:636px;
			height:123px;
			float:left;
			background:#fff;
	  	}
		.Content_title_emp_1
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;			
		}
		.Title_emp_1
		{
			position:relative;
			top:1px;		
			margin-left:20px;	
		}
	/*End - Box_employees_1*/
	/*Box_employees_2*/
	#Box_employees_2
	{
		position:relative;
		float:left;
		width:976px;
		height:100px;
		background:#fff;
		margin-top:9px;
		margin-bottom:170px;
	}
		.Content_title_emp_2
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;
		}	
		.Title_emp_2
		{
			position:relative;
			top:1px;							
			margin-left:20px;	
		}		
	/*End - Box_employees_2*/	  
/*End - Container*/	
/*Footer*/
#Footer 
{
	position:fixed;
	bottom:0;
	width: 100%;
	height:93px;
	background-image:url(../images/bg_footer.png);
	background-repeat:repeat-x;
	background-position:top center;
	border-bottom:#ee393e 7px solid;
	z-index:1000;
}
.Content_footer
{
	width:970px;
	height:93px;
	margin:0 auto;
}
	.Left_footer
	{
		position:relative;
		width:501px;
		height:58px;
		float:left;
		font-family:DaxCompactMedium;
		font-size:22px;
		font-weight:normal;
		color:#9d9d9d;
		line-height:20px;
		margin-top:38px;	
	}
		.Text_f_1
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:22px;
			font-weight:normal;
			color:#9d9d9d;		
		}	
		.Text_f_2
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#9d9d9d;		
		}	
	.Center_footer 
	{
		position:relative;
		float:left;
		width:256px;
		height:58px;
		line-height:20px;
		margin-top:25px;		
	}
		.Text_f_3
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:13px;
			font-weight:normal;
			color:#9d9d9d;		
		}	
	.Right_footer
	{
		position:relative;
		width:212px;	
		height:58px;
		float:right;	
		line-height:20px;
		margin-top:25px;
	}
		.Cont_buttons
		{
			position:relative;
			width:250px;
		}
			.Img_twitter
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -3px -134px;
				width:44px;
				height:44px;	
			}	
			.Img_facebook
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -52px -134px;
				width:44px;
				height:44px;					
			}
			.Img_youtube
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -100px -134px;
				width:44px;
				height:44px;		
			}						
/*End - Footer*/
.clear { clear: both; }	
