.Shadow 
{
	display:none;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
	visibility:hidden;
	top: 0;
	left: 0;
	background:url(../images/bg_shadow.png);
}
}
#Header
{
	background:none !important;
	background-image:url() !important;
	display:table;
	min-height:480px !important;
	height: 480px !important;
}
#Header_top
{
	display:table;
	min-height:100px !important;
	height: auto !important;
}
.ShadowShow
{
	display:none;
	visibility:hidden;
	z-index:2000;
}

#Menu
{
	 position:relative;
	 border:1px solid green !important;
	 margin-bottom:px;
	 bottom:0px;
	 top:100px;
	 right:16px;
	 width:120px !important;
	 min-height:150px !important;
	 height:auto !important;
	 border-bottom:#FF0000 6px solid;		 
	 z-index:3000;
	 border:red 1px dashed;
}
	#Menu ul
	 {
		 position:relative;
		 clear:both;
		 height:auto;
		 display:table;
	 }
		#Menu ul li:hover .Submenu_show 
		 {
			display:none;
			 visibility:visible !important;
			 top:15px;
			 /*overflow: auto;*/
		 }
		#Menu ul li:hover .Img_arrow_afesta
		{
			display:none;
			visibility:visible !important;
		}	 	 
	 #Menu ul li
	 {
		position:relative;
		display:block;
		 margin-right:0px;
		 z-index:1000;
	 }

		#Menu ul li a
		 {
			 text-decoration:none;
			 /* min-width:50px; */
			 width:auto;
			 height:37px ;
			 font-family:DaxCompactMedium;
			 font-size:16px;
			 font-weight:normal;
			 color:#5e5e5e;	
		 }	
			.Box_Submenu_show
			{
				width: 620px;
				position: relative;
				min-height: 100px;
				height: 100%;
			}
	a.Padrao
	{
		/*padding-left:18px;
		padding-right:10px;*/
		margin: 0px 15px;
		display:block;
		text-transform:uppercase;
	}
		 a.Padrao:hover
		 {
		   text-decoration: underline !important;
		 }
