@charset "utf-8";
/* 480pxels CSS Document */
@font-face {
    font-family: 'DaxCompactMedium';
    src: url('daxcompm_0-webfont.eot');
    src: url('daxcompm_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcompm_0-webfont.woff') format('woff'),
         url('daxcompm_0-webfont.ttf') format('truetype'),
         url('daxcompm_0-webfont.svg#DaxCompactMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
	position:relative;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e6eff9;
	margin: 0;
	padding: 0;
	color: #000;
}
img {
	max-width: 100%;
	padding: 0 0 1.6em 0;
}

#General
{
	position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
#Bg_general
{
	position:relative;
	opacity:;
}
/*Header*/
#Header 
{
	position:relative;
	width:320px;
	float:left;
	height:190px;/*414px*/
	background: #CCC;
	border-bottom:#88b747 solid 0px;
	z-index:1000;
	margin-left:5px;
}
	 .Header_top
	 {
		 position:relative;
		 background:#f4f5f6;
		 width:320px;
		 height:190px; 
	 }
	 .Logo
	 {
		 position:relative;
		 display:block;
		 float:left;
		 width:320px;
	 }
	 .Menu
	 {
		 position:relative;
		 display:block;
		 float:left;
		 bottom:0px;
		 right:0px;
		 width:320px;
		 height:77px;
		 border-bottom:#FF0000 6px solid;		 
		 z-index:10000;
		 margin-left:-0px;
	 }
		.Menu ul
		 {
			 position:relative;
			 height:200px;
		 }
			.Menu ul li:hover .Submenu_show
			 {
				 top:31px;
				 display:none;
			 }		 	 
		 .Menu ul li
		 {
			 display:block;
			 margin-right:18px;
			 z-index:10000;
		 }

			.Menu ul li a
			 {
				 text-decoration:none !important;
				 display:block;
				 min-width:50px;
				 width:auto;
				 font-family:DaxCompactMedium;
				 font-size:16px;
				 font-weight:normal;
				 color:#5e5e5e;				 
			 }	
				 .Menu ul li a:hover
				 {
				   text-decoration:underline !important;
				 }	
		.Submenu_afesta
		{
			position:absolute;
			top:22px;
			left:0px;
			display:block;
			width:642px;
			height:280px;
			z-index:40000;
			border-top:#88b747 6px solid;
			border-bottom:#88b747 6px solid;
			background:#FFF;
			visibility:hidden;
		}
			.Img_arrow_afesta
			{
				position:absolute;
				top:-1px;
				left:16px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -4px -194px;
				width:15px;
				height:7px;									
			}	
		.Submenu_flores
		{
			position:absolute;
			top:22px;
			left:0px;
			display:block;
			width:642px;
			height:280px;
			z-index:40000;
			border-top:#ff8100 6px solid;
			border-bottom:#ff8100 6px solid;
			background:#FFF;
			visibility:hidden;
		}			
			.Img_arrow_flores
			{
				position:absolute;
				top:-1px;
				left:88px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -20px -194px;
				width:15px;
				height:7px;								
			}
		.Submenu_morangos
		{
			position:absolute;
			top:22px;
			left:0px;
			display:block;
			width:642px;
			height:280px;
			z-index:40000;
			border-top:#ec1920 6px solid;
			border-bottom:#ec1920 6px solid;
			background:#FFF;
			visibility:hidden;
		}			
			.Img_arrow_morangos
			{
				position:absolute;
				top:-1px;
				left:177px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -36px -194px;
				width:15px;
				height:7px;									
			}
		.Submenu_imprensa
		{
			position:absolute;
			top:22px;
			left:0px;
			display:block;
			width:642px;
			height:280px;
			z-index:40000;
			border-top:#0061ab 6px solid;
			border-bottom:#0061ab 6px solid;
			background:#FFF;
			visibility:hidden;
		}			
			.Img_arrow_imprensa
			{
				position:absolute;
				top:0px;
				left:266px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -53px -194px;
				width:15px;
				height:7px;								
			}										
/*End - Header*/

/*Container*/				 	 		 		 
#Container 
{
	position:relative;
	float:left;
	width: 980px;
	height:auto;
	background:;
	z-index:1000;
}
	/*Box_left*/	
	#Box_left
	{
		position:relative;
		width: 480px;
		height: auto;
		float:left;
		margin-top:10px;
	}	
		.Content_top
		{
			position:relative;
			width: 480px;
			min-height: 200px;
			height:auto;
			float:left;
		}
			.Highlights_top
			{
				position:relative;
				width: 320px;
				height: 390px;
				float:left;
				background:#fff;
				margin-left:5px;
			}	
				.Content_highlights_top
				{
					position:relative;
					top:12px;
					left:14px;				
					width: 320px;
					height: 365px;
					background:#;
				}
			.Tabs_top
			{
				position:relative;
				width: 320px;
				height: 390px;
				float:left;
				margin-left:5px;
				margin-top:10px;
			}	
				.Item_tabs_top
				{
					position:relative;
					left:0px;
					width: 320px;
					height: 124px;
					background:#fff;
					margin-bottom:9px;
				}
				h1.Title_item_orange
				{
					position:relative;
					top:20px;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#e57100;	
					background-image:url(../images/bg_title_item_orange356.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;	
					margin-bottom:11px;					
				}
				h2.Title_2_item_red
				{
					position:relative;			
					font-family:DaxCompactMedium;
					font-size:20px;
					font-weight:normal;
					color:#df1a22;	
					margin-left:5px;
					margin-top:35px;						
				}	
				h3.Date_content_top		
				{
					position:relative;			
					font-family:Tahoma, Geneva, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#ec9038;	
					margin-left:26px;
					margin-bottom:50px;
					font-smooth:always;					
				}
				p.Text_top_box
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					width:300px;
					font-weight:normal;
					color:#a0a0a0;
					margin-left:5px;
				}
				p.Text_item_tabs
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					width:300px;
					font-weight:normal;
					color:#a0a0a0;
					margin-left:15px;
				}														
		.Content_midle
		{
			position:absolute;	
			left:2000px;		
			width: 320px;
			height: auto;
			float:left;
			background:#fff;
		}
			.Content_midle a
			{
				text-decoration:none;
			}
			
			.Title_field_bmidle
			{
				position:relative;
				float:left;
				border-bottom:#eaeaea 1px solid;	
				width:320px;
				margin-left:26px;
				margin-bottom:12px;
				padding-bottom:12px;
			}
			h1.Title_gal_orange
			{
				position:relative;
				top:28px;
				left:0px;	
				float:left;				
				font-family:DaxCompactMedium;
				font-size:16px;
				font-weight:normal;
				color:#e57100;	
				padding-left:12px;	
							
			}	
			.Img_h1_gal_int_1
			{
				position:relative;
				float:left;	
				top:0px;
				left:0px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -129px -67px;
				width:50px;
				height:55px;	
			}				
			.Box_midle
			{
				position:relative;
				display:inline-block;
				*display:block;
				*float:left;
				background:#fff;
				width: 241px;
				height: 262px;
				margin-right:2px;
				margin-bottom:10px;
			}
			#Gallery_internal_box {
				position:relative;
				width:733px; 
				height:169px;
				margin:0 auto;
				margin-bottom:50px;
			}

		.Content_bottom
		{
			position:absolute;
			left:2000px;
			display:inline-block;
			*display:block;
			*float:left;			
			width: 741px;
			height: 225px;
			background:#FFF;
			float:left;
		}
			.Title_field_bottom
			{
				position:relative;
				float:left;
				border-bottom:#eaeaea 1px solid;	
				width:685px;
				margin-left:26px;
				padding-bottom:12px;
				margin-bottom:11px;
			}
			h1.Title_video_orange
			{
				position:relative;
				top:28px;
				left:0px;	
				float:left;				
				font-family:DaxCompactMedium;
				font-size:16px;
				font-weight:normal;
				color:#e57100;	
				padding-left:12px;
							
			}	
			.Img_h1_video_int_1
			{
				position:relative;
				float:left;	
				top:0px;
				left:0px;
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -190px -67px;
				width:50px;
				height:55px;					
			}
			.Box_videos_content
			{
				position:relative;
				display:inline-block;
				*display:block;
				*float:left;	
				margin-left:26px;			
			}
				.Box_bottom_video
				{
					position:relative;
					float:left;
					width: 216px;
					height: 127px;
					margin-right:2px;
					margin-right:17px;
					margin-bottom:10px;
				}	
					h2.Tit_box_bot_videos	
					{
						position:relative;
						font-family:DaxCompactMedium;
						font-size:16px;
						font-weight:normal;
						color:#88b747;							
					}
					.Content_box_bot_videos	
					{
						position:relative;
						width: 216px;
						height: 80px;
						margin-top:5px;						
					}	
						.Image_box_videos
						{
							float:left;
							width:105px;
							height:79px;
							margin-right:8px;
						}
						.Text_info_box_videos
						{
							position:relative;
							float:left;
							width:103px;
							height:79px;
							font-size:13px;
							color:#a0a0a0;
						}					
					.Date_box_bot_videos	
					{
						font-family:Tahoma, Geneva, sans-serif;
						font-size:12px;
						font-weight:;
						color:#a0a0a0;
					}							

	/*End - Box_left*/
	/*Box_right*/					
	#Box_right
	{
		position:relative;
		width: 227px;
		height: 994px;	
		float:right;
		display:none;
	}
		.Content_pub
		{
			position:relative;
			width:223px;
			height:190px;
			margin-bottom:7px;
			background:#FFFFFF;			
		}	
		.Content_pull
		{
			position:relative;				
			width: 223px;
			height: 280px;
			background:#fff;
			margin-right:2px;
			margin-bottom:38px;
			padding-top:11px;
			margin-top:50px;			
		}
				h1.Title_pull_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}
				.Img_h1_pull_1
				{
					position:absolute;
					top:-35px;
					left:150px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -0px -74px;
					width:68px;
					height:52px;		
				}		
		.Content_weather
		{
			position:relative;				
			width: 223px;
			height: 218px;
			background:#fff;
			padding-top:11px;
			margin-right:2px;
			margin-bottom:19px;		
		}
				.Title_weat_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}				
	/*End - Box_right*/
	/*Box_employees_1*/						
	#Box_employees_1
	{
		
		position:relative;
		width:580px;
		height:auto;
		background:#fff;
		margin:0 auto;
		margin-top:35px;
	}
		.Item_employees_1_logos
		{			
			position:relative;			
			width:auto;
			height:auto;
			vertical-align:middle;
			margin-left:16px;
			margin-bottom:-25px;
		}	
		.Content_realization
		{
			position:relative;
			width:100px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_support
		{
			position:relative;
			width:320px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_sponsors
		{
			position:relative;
			width:320px;
			min-height:190px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_title_emp_1
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;			
		}
		.Title_emp_1
		{
			position:relative;
			top:1px;		
			margin-left:20px;	
		}
	/*End - Box_employees_1*/
	/*Box_employees_2*/
	#Box_employees_2
	{
		position:relative;
		float:left;
		width:320px;
		height:auto;
		background:#fff;
		margin-top:9px;
		margin-bottom:30px;		
		border-right:transparent 100px solid;
	}
		.Item_employees_2_logos
		{			
			position:relative;
			margin-left:5px;
			margin-top:0px;
			width:auto;
			height:auto;
			vertical-align:middle;
			margin-top:20px;
		}	
		.Content_title_emp_2
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;
		}	
		.Title_emp_2
		{
			position:relative;
			top:1px;							
			margin-left:20px;
		}		
	/*End - Box_employees_2*/	 	  
/*End - Container*/	
/*Footer*/
#Footer 
{
	position:relative;
	float:left;
	bottom:0;
	width: 100%;
	height:200px;
	background:#f4f5f6;
	border-top:#c3c3c3 1px solid;
	border-bottom:#ee393e 7px solid;
	z-index:1000;
	padding-top:5px;
}
.Content_footer
{
	width:480px;
	height:93px;
	margin:0 auto;
	padding-left:10px;
}
	.Left_footer
	{
		position:relative;
		width:480px;
		height:110px;
		float:left;
		font-family:DaxCompactMedium;
		font-size:22px;
		font-weight:normal;
		color:#9d9d9d;
		line-height:20px;
		margin-top:2px;	
	}
		.Text_f_1
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:22px;
			font-weight:normal;
			color:#9d9d9d;	
			width:306px;	
		}	
		.Text_f_2
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#9d9d9d;	
			width:320px;		
		}	
	.Center_footer 
	{
		position:relative;
		float:left;
		width:160px;
		height:90px;
		line-height:20px;
		margin-top:0px;		
	}
		.Text_f_3
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:13px;
			font-weight:normal;
			color:#9d9d9d;		
		}	
	.Right_footer
	{
		position:relative;
		width:212px;	
		height:58px;
		float:left;	
		line-height:20px;
		margin-top:0px;
	}
		.Cont_buttons
		{
			position:relative;
			width:250px;
		}
			.Img_twitter
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -3px -134px;
				width:44px;
				height:44px;	
			}	
			.Img_facebook
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -52px -134px;
				width:44px;
				height:44px;					
			}
			.Img_youtube
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -100px -134px;
				width:44px;
				height:44px;		
			}						
/*End - Footer*/
.clear { clear: both; }	
