@charset "utf-8";
/* 480pxels CSS Document */
@font-face {
    font-family: 'DaxCompactMedium';
    src: url('daxcompm_0-webfont.eot');
    src: url('daxcompm_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxcompm_0-webfont.woff') format('woff'),
         url('daxcompm_0-webfont.ttf') format('truetype'),
         url('daxcompm_0-webfont.svg#DaxCompactMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
	position:relative;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e6eff9;
	margin: 0;
	padding: 0;
	color: #000;
}
img {
	max-width: 100%;
	padding: 0 0 1.6em 0;
}

#General
{
	position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
#Bg_general
{
	position:relative;
	opacity:;
}
/*Header*/
#Header 
{
	position:relative;
	width:320px;
	height:187px;/*414px*/
	background: #CCC;
	margin: 0 auto;
	border-bottom:#88b747 solid 5px;
	z-index:3000;
	margin-left:5px;
}
	 .Header_top
	 {
		 position:relative;
		 background:#f4f5f6;
		 width:320px;
		 height:187px;
		 margin:0 auto;
		 
		 
	 }
	 .Logo
	 {
		 position:relative;
		 display:block;
		 float:left;
		 width:320px;
	 }
/*End - Header*/
	/*Box_right*/					
	#Box_right
	{
		position:relative;
		width: 227px;
		height: 994px;	
		float:right;
		display:none;
	}
		.Content_pub
		{
			position:relative;
			width:223px;
			height:190px;
			margin-bottom:7px;
			background:#FFFFFF;			
		}	
		.Content_pull
		{
			position:relative;				
			width: 223px;
			height: 280px;
			background:#fff;
			margin-right:2px;
			margin-bottom:38px;
			padding-top:11px;
			margin-top:50px;			
		}
				h1.Title_pull_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}
				.Img_h1_pull_1
				{
					position:absolute;
					top:-35px;
					left:150px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -0px -74px;
					width:68px;
					height:52px;		
				}		
		.Content_weather
		{
			position:relative;				
			width: 223px;
			height: 218px;
			background:#fff;
			padding-top:11px;
			margin-right:2px;
			margin-bottom:19px;		
		}
				.Title_weat_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}				
	/*End - Box_right*/
	/*Box_employees_1*/						
	#Box_employees_1
	{
		
		position:relative;
		width:580px;
		height:auto;
		background:#fff;
		margin:0 auto;
		margin-top:35px;
	}
		.Item_employees_1_logos
		{			
			position:relative;			
			width:auto;
			height:auto;
			vertical-align:middle;
			margin-left:16px;
			margin-bottom:-25px;
		}	
		.Content_realization
		{
			position:relative;
			width:100px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_support
		{
			position:relative;
			width:320px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_sponsors
		{
			position:relative;
			width:320px;
			min-height:190px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_title_emp_1
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;			
		}
		.Title_emp_1
		{
			position:relative;
			top:1px;		
			margin-left:20px;	
		}
	/*End - Box_employees_1*/
	/*Box_employees_2*/
	#Box_employees_2
	{
		position:relative;
		float:left;
		width:320px;
		height:auto;
		background:#fff;
		margin-top:9px;
		margin-bottom:30px;		
		border-right:transparent 100px solid;
	}
		.Item_employees_2_logos
		{			
			position:relative;
			margin-left:5px;
			margin-top:0px;
			width:auto;
			height:auto;
			vertical-align:middle;
			margin-top:20px;
		}	
		.Content_title_emp_2
		{
			position:relative;
			background:#f5f5f5;
			width:100%;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;
		}	
		.Title_emp_2
		{
			position:relative;
			top:1px;							
			margin-left:20px;
		}		
	/*End - Box_employees_2*/	 	  
/*End - Container*/	
/*Footer*/
#Footer 
{
	position:relative;
	float:left;
	bottom:0;
	width: 100%;
	height:200px;
	background:#f4f5f6;
	border-top:#c3c3c3 1px solid;
	border-bottom:#ee393e 7px solid;
	z-index:1000;
	padding-top:5px;
}
.Content_footer
{
	width:480px;
	height:93px;
	margin:0 auto;
	padding-left:10px;
}
	.Left_footer
	{
		position:relative;
		width:480px;
		height:110px;
		float:left;
		font-family:DaxCompactMedium;
		font-size:22px;
		font-weight:normal;
		color:#9d9d9d;
		line-height:20px;
		margin-top:2px;	
	}
		.Text_f_1
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:22px;
			font-weight:normal;
			color:#9d9d9d;	
			width:306px;	
		}	
		.Text_f_2
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#9d9d9d;	
			width:320px;		
		}	
	.Center_footer 
	{
		position:relative;
		float:left;
		width:160px;
		height:90px;
		line-height:20px;
		margin-top:0px;		
	}
		.Text_f_3
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:13px;
			font-weight:normal;
			color:#9d9d9d;		
		}	
	.Right_footer
	{
		position:relative;
		width:212px;	
		height:58px;
		float:left;	
		line-height:20px;
		margin-top:0px;
	}
		.Cont_buttons
		{
			position:relative;
			width:250px;
		}
			.Img_twitter
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -3px -134px;
				width:44px;
				height:44px;	
			}	
			.Img_facebook
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -52px -134px;
				width:44px;
				height:44px;					
			}
			.Img_youtube
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -100px -134px;
				width:44px;
				height:44px;		
			}						
/*End - Footer*/
.clear { clear: both; }	
