body 
{
	position:relative;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #e6eff9;
	margin: 0;
	padding: 0;
	color: #000;
}
img {
	max-width: 100%;
	padding: 0 0 1.6em 0;
}

#General
{
	position:relative;
	width:320px !important;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
#Bg_general
{
	position:relative;
	opacity:;
}



/* ------Header ---------------------------------------- */
.Shadow 
{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
	visibility:hidden;
	top: 0;
	left: 0;
	background:url(../images/bg_shadow.png);
}

}

#Header .Shadow 
{
	height: 419px !important;
}
.ShadowShow
{
	visibility:visible;
	z-index:2000;
}
.Logo {position:absolute;height:102px; left:15px !important;}

#Header
{
	position: relative;
	width: 480px !important;
	height: auto !important;
	background:;
	margin: 0 auto;
	border:none !important;
	z-index: 3000;
	background:#F4F5F6 !important;
	
}
.Header_top
{
	position: relative;
	background-image: url("")!important;
	background:#F4F5F6;
	width: 480px !important;
	height: auto !important;
	margin: 0 auto;
}
/* ------Header End---------------------------------------- */
/* ------menu ---------------------------------------- */
#Menu
{
	 position:relative;	
	 display:block; 
	 top:0px;
	 left:2px;
	 min-height:20px;
	 height:auto;
	 margin-top:100px;
	 border-bottom:#FF0000 6px solid;		 
	 z-index:3000; 	
}
	#Menu ul
	 {
		 position:relative;
		 width:320px !important;
	 }
		#Menu ul li:hover .Submenu_show 
		 {
			 display:none;
			 visibility:none!important;
			 top:0px !important;
			 /*overflow: auto;*/
		 }
		#Menu ul li:hover .Img_arrow_afesta
		{
			display:none;
			visibility:none !important;
		}	 	 
	 #Menu ul li
	 {
		 margin-right:0px;
		 display:inline;
		 z-index:1000;
		 margin-top:0px;
		 margin-bottom:0px;
		 margin-right:20px;
	 }

		#Menu ul li a
		 {
			 text-decoration:none;
			 /* min-width:50px; */
			 width:auto;
			 height:auto;
			 font-family:DaxCompactMedium;
			 font-size:16px;
			 font-weight:normal;
			 color:#5e5e5e;	
		 }	
			.Box_Submenu_show
			{
				
				width: 620px;
				position: relative;
				min-height: 100px;
				height: 100%;
			}
	a.Padrao
	{
		/*padding-left:18px;
		padding-right:10px;*/
		margin: 0px 0px;
		display:block;
		text-transform:uppercase;
	}
		 a.Padrao:hover
		 {
		   text-decoration:none !important;
		 }
	.Submenu_padrao
	{
		position:absolute;
		top:22px;
		left:0px;
		display:block;
		width:768px;
		min-height:280px;
		z-index:4000;
		background:#FFF;
		visibility:hidden;
		height:auto;
	}
		.Img_arrow_afesta
		{
			position:relative;	
			left: 50%;
			display: block;
			background: url(../images/img_bg_arrow.png) no-repeat;
			width: 14px;
			height: 7px;
			margin-left: -7px;
			z-index: 5000;
			visibility:hidden;	
					
		}
				.Tit_box
				{
					position: relative;
					width: 615px;
					height: 23px;
					font-size: 12px !important;
					position: relative;
					top: 6px;
					left: 10px;
					height: 15px !important;
				}
					.Tit_box a
					{

					}
				.Submenu_box
				{
					position: relative;
					float: left;
					width: 129px;
					height: 113px;
				}														
				.Image_submenubox
				{
					position:absolute;
					left:8px;
					top:0px;
					height:95px;
					width:109px;
					background-image:url(../images/img_bg_image_submenubox.png);
					background-repeat:no-repeat;
					background-position:center;
					margin:0 auto;
				}
				.Text_submenubox
				{
					position:absolute;
					top:89px;
					left:25px;
					font-family:DaxCompactMedium;
					font-size:14px;
					font-weight:normal;
					color:#a3a3a3;					
				}

/* ------menu end ------------------------------------- */

/*Container*/				 	 		 		 
#Container 
{
	position:relative;
	float:left;
	width: 480px !important;
	height:auto;
	background:;
	z-index:1000;
}
	/*Box_left*/	
	#Box_left
	{
		position:relative;
		width: 480px !important;
		min-height: 100px !important;
		height:auto !important;
		float:left;
		margin-top:10px;
	}	
		.Content_top
		{
			position:relative;
			width: 480px !important;
			min-height: 200px;
			float:left;
		}
			.Highlights_top
			{
				position:relative;
				width: 320px !important;
				height: 348px !important;
				float:left;
				margin-bottom:20px;
				background:#fff;
				
			}	
				.Content_highlights_top
				{
					position:relative;
					top:12px;
					left:0px !important;				
					width: 320px !important;
					height: 365px;
					background:#;
				}
			.Tabs_top
			{
				position:relative;
				width: 367px !important;
				/* height: 390px; */
				float:left;
			}	
				.Item_tabs_top
				{
					position:relative;
					left:0px !important;
					width: 356px !important;
					height: 124px;
					background:#fff;
					margin-bottom:21px;
				}
				.Item_tabs_top a
				{
					text-decoration:none;					
				}
				.plus_hover
				{
					display:none;
					position:absolute;
					left:329px !important;
					top:97px;
					background-image:url('../images/hover_tab.png');
					background-repeat:none;
					background-position:0px 0px ;
					height:24px;
					width:24px;
					
										
				}				
				.Item_tabs_top:hover .plus_hover
				{
					display:block !important;
				}

				h1.Title_item_orange
				{
					position:relative;
					top:20px;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#e57100;	
					background-image:url(../images/bg_title_item_orange356.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;	
					margin-bottom:11px;					
				}
				h2.Title_2_item_red
				{
					position:relative;			
					font-family:DaxCompactMedium;
					font-size:20px;
					font-weight:normal;
					color:#df1a22;	
					margin-left:5px;
					margin-top:35px;						
				}	
				h3.Date_content_top		
				{
					position:relative;			
					font-family:Tahoma, Geneva, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#ec9038;	
					margin-left:26px;
					margin-bottom:50px;
					font-smooth:always;					
				}
				p.Text_top_box
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					width:300px;
					font-weight:normal;
					color:#a0a0a0;
					margin-left:5px;
				}
				p.Text_item_tabs
				{
					font-family:Tahoma, Geneva, sans-serif;
					font-size:14px;
					width:300px;
					font-weight:normal;
					color:#a0a0a0;
					margin-left:15px;
				}												
		.Content_midle
		{
			position:relative;
			width: 480px !important;
			min-height: 430px;
			float:left;
			margin-top:30px;
		}
			.Box_midle
			{
				position:relative;
				display:inline-block;
				left:0px !important;
				*display:block;
				*float:left;
				background:#fff;
				width: 241px !important;
				height: auto !important;
				margin-top:10px;
				margin-left:5px;
			}
			p.Text_boz_midle 
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:14px;
				font-weight:normal;
				color:#a0a0a0;
				float:left;
				margin-top:7px;
				margin-left:15px;
			}
				.Title_boxmidle_blue
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#3099ea;	
					background-image:url(../images/bg_title_boxmidle_blue241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;	
					margin-top:11px;					
				}
				.Img_h1_boxmidle_1
				{
					position:absolute;
					top:-28px;
					left:141px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat 0px -9px;
					width:91px;
					height:55px;			
				}

				.Img_h1_boxmidle_2
				{
					position:absolute;
					top:-44px;
					left:141px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -95px 2px;
					width:91px;
					height:65px;			
				}
				.Img_h1_boxmidle_3
				{
					position:absolute;
					top:-29px;
					left:141px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -190px -10px;
					width:91px;
					height:55px;			
				}		
		.Content_bottom
		{
			position:absolute;
			top:0px;
			left:2000px;
			display:inline-block;
			*display:block;
			*float:left;			
			width: 480px;
			min-height: 500px;
			margin-left:13px;
			margin-top:10px;
		}
		.C_bot_left_box
		{
			position:relative;
			float:left;
			width:241px;
			height:358px;
		}
			.Newsletter_bottom
			{
				position:relative;				
				width: 241px;
				height: 162px;
				background:#fff;
				margin-right:2px;
				margin-bottom:17px;
				padding-top:11px;
			}
				h1.Title_newa_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_news_red241.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;					
				}
				.Img_h1_news_1
				{
					position:absolute;
					top:-32px;
					left:195px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -80px -67px;
					width:45px;
					height:55px;		
				}			
			.Item_pub_bottom
			{
				position:relative;				
				width: 241px;
				height: 80px;
				background:#fff;
				margin-right:2px;
				margin-bottom:8px;
			}	
		.C_bot_gallery_box
		{
			position:relative;
			float:left;
			width:489px;
			height:347px;
			margin-left:8px;
			background:#fff;
			padding-top:11px;
		}
				h1.Title_gal_red
				{
					position:relative;
					left:0px;					
					font-family:DaxCompactMedium;
					font-size:16px;
					font-weight:normal;
					color:#df1a22;	
					background-image:url(../images/bg_title_gale_red489.jpg);
					background-repeat:no-repeat;
					background-position:center left;
					padding-left:9px;	
					margin-bottom:6px;				
				}
				.Img_h1_gal_1
				{
					position:absolute;
					top:-32px;
					left:410px;
					display:block;
					background:url(../images/img_Imgbuttoms.png) no-repeat -128px -67px;
					width:54px;
					height:55px;		
				}		
				#Gallery_home_box {
					position:absolute;
					width:476px; 
					height:312px;
					margin:0 auto;
				}							
	/*End - Box_left*/
	
	/*Box_employees_1*/						
	#Box_employees_1
	{
		
		position:relative;
		width:320px !important;
		height:auto !important;
		background:#fff;
		margin:0 auto;
		margin-top:35px;
	}
		.Item_employees_1_logos
		{			
			position:relative;			
			width:auto;
			height:auto !important;
			vertical-align:middle;
			margin-left:2px !important;;
			margin-bottom:-25px;
		}	
		.Content_realization
		{
			position:relative;
			width:100px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_support
		{
			position:relative;
			width:320px;
			height:auto;
			float:left;
			background:#fff;
	  	}
		.Content_sponsors
		{
			position:relative;
			width:320px;
			min-height:190px;
			height:auto;
			float:left;
			background:#fff;
	  	}	  	
		.Content_title_emp_1
		{
			position:relative;
			background:#f5f5f5;
			width:320px;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;			
		}
		.Title_emp_1
		{
			position:relative;
			top:1px;		
			margin-left:0px;	
		}
		.Title_emp_1-2
		{
			position:relative;
			top:1px;		
			margin-left:20px;
			width:100% !important;	
		}		
	/*End - Box_employees_1*/
	/*Box_employees_2*/
	#Box_employees_2
	{
		position:relative;
		float:left;
		width:320px !important;
		height:auto;
		background:#fff;
		margin-top:9px;
		margin-bottom:30px;		
		border-right:transparent 100px solid;
	}
		.Item_employees_2_logos
		{			
			position:relative;
			margin-left:2px;
			margin-top:0px;
			width:auto;
			height:auto;
			vertical-align:middle;
			margin-top:20px;
		}	
		.Content_title_emp_2
		{
			position:relative;
			background:#f5f5f5;
			width:320px !important;
			height:24px;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#cccccc;
		}	
		.Title_emp_2
		{
			position:relative;
			top:1px;							
			margin-left:20px;
		}		
	/*End - Box_employees_2*/	 	  
/*End - Container*/	
/*Footer*/
#Footer 
{
	position:relative;
	float:left;
	bottom:0;
	width: 320px !important;
	height:330px !important;
	background:#f4f5f6;
	border-top:#c3c3c3 1px solid;
	border-bottom:#ee393e 7px solid;
	z-index:1000;
	padding-top:5px;
	padding-left:0px !important;
}
.Content_footer
{
	position:relative !important;
	width:320px;
	height:auto !important;
	margin:0 auto;
	padding-left:0px !important;
	margin-left: 0px !important;
}
	.Left_footer
	{
		position:relative !important;
		top:
		width:480px;
		height:110px;
		left:2px !important;
		font-family:DaxCompactMedium;
		font-size:22px;
		font-weight:normal;
		color:#9d9d9d;
		line-height:20px;
		margin-top:2px;	
	}
		.Text_f_1
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:22px;
			font-weight:normal;
			color:#9d9d9d;	
			width:306px;	
		}	
		.Text_f_2
		{
			position:relative;
			display:block;
			font-family:DaxCompactMedium;
			font-size:15px;
			font-weight:normal;
			color:#9d9d9d;	
			width:300px;		
		}	
	.Center_footer 
	{
		position:absolute !important;
		left:2px !important;
		top:130px;
		width:300px !important;
		height:100px !important;
		line-height:20px;
		margin-top:0px;		
	}
		.Text_f_3
		{
			position:relative;
			font-family:DaxCompactMedium;
			font-size:13px;
			font-weight:normal;
			color:#9d9d9d;	
		}	
	.Right_footer
	{
		position:absolute!important;
		top:210px;
		left:2px !important;
		width:212px;	
		height:58px;
		left:2px !important;	
		line-height:20px;
		margin-top:35px !important;
	}
		.Cont_buttons
		{
			position:relative;
			width:250px;
		}
			.Img_twitter
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -3px -134px;
				width:44px;
				height:44px;	
			}	
			.Img_facebook
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -52px -134px;
				width:44px;
				height:44px;					
			}
			.Img_youtube
			{
				position:relative;
				float:left;	
				display:block;
				background:url(../images/img_Imgbuttoms.png) no-repeat -100px -134px;
				width:44px;
				height:44px;		
			}						
/*End - Footer*/
.clear { clear: both; }	
