#slide_box
{
	z-index:1000;	
}

	#slideshow
	{
		position: absolute;
		width: 345px;
		height: 365px;
	}
		.slide_item
		{

		}
			.slide_item img
			{
				max-width: none !important;
			}
			.slide_item h1
			{
				position: absolute;
				top: 265px;
				left:0px;
				width: 345px;
				height: 100px;
				background-color:red;
			}		

#nav 
{ 
	position: absolute;
	top: 330px;
	right: 0px;
	z-index:2000;
}
#nav a 
{ 
	border: 1px solid #ccc; 
	background: #fc0; 
	text-decoration: none; 
	margin: 0 5px; 
	padding: 3px 5px;
}
	#nav a.activeSlide 
	{ 
		background: #ea0 
	}
	#nav a:focus 
	{ 
		outline: none; 
	}