<%if @user.errors.any?%>
	jQuery('#Show_Box_Error_Cad').show();
	erro = "";
	erro += "<div class='Error_box_cad'>";
<% @user.errors.full_messages.each do |msg|%>
	erro += "<%= escape_javascript(raw("<p class='Text_error_box'>#{msg}</p>"))%> ";
<%end%>
	erro += "</div>";
	jQuery('#Show_Box_Error_Cad').html(erro);
	jQuery('html,body').animate({scrollTop:jQuery('#Show_Box_Error_Cad').offset().top}, 'slow');	
<%else%>
	window.location.href = "<%= ingressos_selecione_index_path %>";
<%end%>