<%if @user.errors.any?%>
	alert('Ocorreu um erro erro! Tente novamente');
	jQuery('#Show_Box_Error_Cad').show();
	erro = "";
	erro += "<div class='Error_box_cad'>";
<% @user.errors.full_messages.each do |msg|%>
	erro += "<%= escape_javascript(raw("<p class='Text_error_box'>#{msg}</p>"))%> ";
<%end%>
	erro += "</div>";
	jQuery('#Show_Box_Error_Cad').html(erro);
<%else%>
	alert('Não deu erro');
	window.location.href = "<%= login_path %>";
<%end%>