<% title t('attributes.new') +" "+show_model_name(::Guide, true) %>
<h1><%= t('attributes.new') +" "+show_model_name(::Guide)%></h1>
<p><%= t('activerecord.attributes.guide.messages.new')%></p>
<%= render 'form' %>


