    
    <div id="Box_left">
    	 <div class="Content_top">
    		 <div class="Highlights_top">
             	 <div class="Content_highlights_top">
                 	DESTAQUE
                 </div>
             </div>
             <div class="Tabs_top">
             	<div class="Item_tabs_top">
                	<h1 class="Title_item_orange">Noticias</h1>
                    <h2 class="Title_2_item_red">Do you see any Teletubbies in here?</h2>
                    <p class="Text_item_tabs">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                </div>
             	<div class="Item_tabs_top">
                	<h1 class="Title_item_green">Área de Guias</h1>
                    <h2 class="Title_2_item_green">Do you see any Teletubbies in here?</h2>
                    <p class="Text_item_tabs">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                </div>  
             	<div class="Item_tabs_top">
                	<h1 class="Title_item_blue">A Festa</h1>
                    <h2 class="Title_2_item_blue">Do you see any Teletubbies in here?</h2>
                    <p class="Text_item_tabs">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                </div>                                      
             </div>
    	 </div>
    	 <div class="Content_midle">
         
    		 <div class="Box_midle">
             	<h1 class="Title_boxmidle_blue">Flores<span class="Img_h1_boxmidle_1"></span></h1>
				<p class="Text_boz_midle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod commodo consequat.</p>
             </div>
    		 <div class="Box_midle">
             	<h1 class="Title_boxmidle_blue">Morango<span class="Img_h1_boxmidle_2"></span></h1>
                <p class="Text_boz_midle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod commodo consequat.</p>
             </div>
    		 <div class="Box_midle">
             	<h1 class="Title_boxmidle_blue">Receitas<span class="Img_h1_boxmidle_3"></span></h1>
                <p class="Text_boz_midle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod commodo consequat.</p>
             </div>                                  
    	 </div>
    	 <div class="Content_bottom">
             <div class="C_bot_left_box">
                <div class="Newsletter_bottom">
                	<h1 class="Title_newa_red">Newslwtter<span class="Img_h1_news_1"></span></h1>
                    <a class="Btn_news_send"></a> 
                    <p class="Text_news">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                    <input name="campo" type="text"></input>
                    
                    
                    
                </div>
                <div class="Item_pub_bottom">
                	Publicidade
                </div>  
                <div class="Item_pub_bottom">
                	Publicidade
                </div>                                       
             </div>   
             <div class="C_bot_gallery_box">
             	<h1 class="Title_gal_red">Galeria<span class="Img_h1_gal_1"></span></h1>           
                <div id="Gallery_home_box">	<!--start Gallery_home_box-->
                    <div id="slideshow-main">
                        <ul>
                            <li class="p1 active">
                                <a href="#">
                                    <img src="images/1_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p2">
                                <a href="#">
                                    <img src="images/2_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p3">
                                <a href="#">
                                    <img src="images/3_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p4">
                                <a href="#">
                                    <img src="images/4_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p5">
                                <a href="#">
                                    <img src="images/5_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p6">
                                <a href="#">
                                    <img src="images/6_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p7">
                                <a href="#">
                                    <img src="images/7_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                        </ul>										
                    </div>                                
                    <div id="slideshow-carousel">				
                          <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                            <li><a href="#" rel="p1"><img src="images/1.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p2"><img src="images/2.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p3"><img src="images/3.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p4"><img src="images/4.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p5"><img src="images/5.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p6"><img src="images/6.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p7"><img src="images/7.gif" width="106" height="71" alt="#"/></a></li>
                          </ul>
                    </div>            
                    <div class="clear"></div>
                </div> <!--End Gallery_home_box-->  
                                   
             </div>
    	 </div> 
         <div class="clear"></div>                             
    </div><!-- end Box_left --> 
    <div id="Box_right">        
         <div class="Content_pub">
    		public 
    	 </div>
         <div class="Content_pub">
    		public 
    	 </div>             
         <div class="Content_pull">
    		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <div class="Pull_item_box">    
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
                <div class="clear"></div>                                
            </div>   
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <a class="Btn_pull_send"></a>      	
         </div> 
         <div class="Content_weather">
    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
    	 </div>   
         <div class="clear"></div>                         
    </div><!-- end Box_right --> 
    
    
<div id="Box_employees_1">
    <div class="Content_realization">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Realização</h1></div>
    	<img src="images/logo_real_assiciacaohortolandiaatibaia.jpg" class="Swap Item_employees_1_logos">
    </div> 
    <div class="Content_support">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Apoio</h1></div>
        <img src="images/logo_ap_prefeituraatibaia.jpg" class="Swap Item_employees_1_logos">
    </div>
    <div class="Content_sponsors">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Patrocinadores</h1></div>
        <img src="images/logo_pat_novaschin.jpg" class="Swap Item_employees_1_logos">
        <img src="images/logo_pat_santander.jpg" class="Swap Item_employees_1_logos">
    </div>    
    <div class="clear"></div>              
</div><!-- end Box_employees_1 -->             
<div id="Box_employees_2">
	<div class="Content_title_emp_1"><h1 class="Title_emp_2">Colaboradores</h1></div>
    <img src="images/logo_col_acenbra.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_sindicatoruralatibaia.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_assprodutoresmorangoatibaia.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_proflor.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_saaeatibaia.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_kicor.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_cielo.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_cvc.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_govestadosaopaulo.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_caminhodamoda.jpg" class="Swap Item_employees_2_logos">
    <img src="images/logo_col_graal.jpg" class="Swap Item_employees_2_logos">
    
    <div class="clear"></div>
</div><!-- end Box_employees_2 -->  

