<% title t('attributes.new') +" "+show_model_name(::Configuration, true) %>

<h1><%= t('attributes.new') +" "+show_model_name(::Configuration, true)%></h1><br />
<br />
<p><%= t('activerecord.attributes.configuration.messages.new')%></p><br />
<br />
<%= render 'form' %>
