<% title t('attributes.newf') +" "+show_model_name(::Category, true) %>

<h1><%= t('attributes.newf') +" "+show_model_name(::Category)%></h1><br />
<br />
<p><%= t('activerecord.attributes.category.messages.new')%></p><br />
<br />

<%= render 'form' %>
