<% title t('attributes.newf') +" "+show_model_name(::TicketCategory, true) %>

<h1><%= t('attributes.newf') +" "+show_model_name(::TicketCategory)%></h1><br />
<br />
<p><%= t('activerecord.attributes.ticket_category.messages.new')%></p><br />
<br />

<%= render 'form' %>