<% 
	content_for :title do "Editar Usu치rio" end
%>
<%content_for :head do%>
	<%=stylesheet_link_tag "cadastro"%>
	<%= stylesheet_link_tag "admin_user"%>
<%end%>
<section class="content-header">
  <h1> <%="Editar Usu치rio"%>
    <br/>
    <small>Utilize os campos abaixo para editar o Usu치rio</small>
  </h1>

  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Usu치rios </li> 
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-body">
      <div id="Content">
          <div id="Register_internal">
            <p>
	
            </p>
          <%= render 'form' %>
        </div>
      </div>
    </div>    
  </div>
</section>
