<% title t('attributes.newf') +" "+show_model_name(::GuideVisitor, true) %>

<h1><%= t('attributes.newf') +" "+show_model_name(::GuideVisitor)%></h1><br />
<br />
<p><%= t('activerecord.attributes.guide_visitor.messages.new')%></p><br />
<br />

<%= render 'form' %>


