<% title t('attributes.new') +" "+show_model_name(::TicketHome) %>

<h1><%= t('attributes.new') +" "+show_model_name(::TicketHome)%></h1><br />
<br />
<p><%= t('activerecord.attributes.ticket_home.messages.new')%></p><br />
<br />
<%= render 'form' %>
