<div id="Box_employees_1">
<% if @Footer_site.count > 0 
	realizacao = ''
	apoio = ''
	patrocinadores = ''
	colaboradores = ''
	@Footer_site.each do |footersite|
		case footersite.footer_type
		when 1
			realizacao = realizacao + link_to(image_tag(footersite.image.url(:pb),:class=>"Swap Item_employees_1_logos"), footersite.destination, :alt=> footersite.legend, :title=> footersite.legend, :target => footersite.link_target)
		when 2
			apoio = apoio + link_to(image_tag(footersite.image.url(:pb),:class=>"Swap Item_employees_1_logos"), footersite.destination, :alt=> footersite.legend, :title=> footersite.legend, :target => footersite.link_target)
		when 3
			patrocinadores = patrocinadores + link_to(image_tag(footersite.image.url(:pb),:class=>"Swap Item_employees_1_logos"), footersite.destination, :alt=> footersite.legend, :title=> footersite.legend, :target => footersite.link_target)
		when 4
			colaboradores = colaboradores + link_to(image_tag(footersite.image.url(:pb),:class=>"Swap Item_employees_2_logos"), footersite.destination, :alt=> footersite.legend, :title=> footersite.legend, :target => footersite.link_target)
		else
			puts "Desconhecida"
		end
	end
%>	
    <div class="Content_realization">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Realização</h1></div>
		<%=raw realizacao %>
    </div> 
    <div class="Content_support">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1-2">Apoio</h1></div>
		<%=raw apoio %>
    </div> 
    <div class="clear"></div>             
</div><!-- end Box_employees_1 -->
<div class="Content_sponsors">
    <div class="Content_title_emp_1"><h1 class="Title_emp_1">Patrocinadores</h1></div>
	    <%=raw patrocinadores %>		
</div>               
<div id="Box_employees_2">	
	<div class="Content_title_emp_1"><h1 class="Title_emp_2">Colaboradores</h1></div>
		<%=raw colaboradores %>
    <div class="clear"></div>
<% end %>   
</div><!-- end Box_employees_2 -->
