<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Noticia</title> 
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.pack.js"></script>
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/jquery.jcarousel_gallery_internal.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" />
<link rel="stylesheet" type="text/css" href="css/skin_gallery_internal.css" />
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" media="screen" href="css/noticia_int.css" />
<link rel="stylesheet" media="screen and (max-width:768px)" href="css/noticia_screen_768.css" />
<link rel="stylesheet" media="screen and (max-width:480px)" href="css/noticia_screen_480.css" />
<script>
$(function() {
    $("img.Swap")
        .mouseover(function() { 
            var src = $(this).attr("src").match(/[^\.]+/) + "_color.jpg";
            $(this).attr("src", src);
        })
        .mouseout(function() {
            var src = $(this).attr("src").replace("_color", "");
            $(this).attr("src", src);
        });
});
</script>	
<script type="text/javascript">
	$(document).ready(function () {
		
		//jCarousel Plugin
	    $('#carousel').jcarousel({
			scroll: 1,
			auto: 2,
			wrap: 'last',
			initCallback: mycarousel_initCallback
	   	});
		$(function() {
			$('#carousel a').lightBox();
		});
	//Front page Carousel - Initial Setup
   	$('div#slideshow-carousel a img').css({'opacity': '0.5'});
   	$('div#slideshow-carousel a img:first').css({'opacity': '1.0'});
   	$('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')

  
  	//Combine jCarousel with Image Display
    $('div#slideshow-carousel li a').hover(
       	function () {
        		
       		if (!$(this).has('span').length) {
        		$('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
   	    		$(this).stop(true, true).children('img').css({'opacity': '1.0'});
       		}		
       	},
       	function () {
        		
       		$('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
       		$('div#slideshow-carousel li a').each(function () {

       			if ($(this).has('span').length) $(this).children('img').css({'opacity': '1.0'});

       		});
        		
       	}
	).click(function () {

	      	$('span.arrow').remove();        
		$(this).append('<span class="arrow"></span>');
       	$('div#slideshow-main li').removeClass('active');        
       	$('div#slideshow-main li.' + $(this).attr('rel')).addClass('active');	
        	
       	return false;
	});


});


//Carousel Tweaking

function mycarousel_initCallback(carousel) {
	
	// Pause autoscrolling if the user moves with the cursor over the clip.
	carousel.clip.hover(function() {
		carousel.stopAuto();
	}, function() {
		carousel.startAuto();
	});
}
	
	</script>
</head>
<body>
<div id="General">
<div id="Bg_general">

    <div id="Header">
    	<div class="Header_top">
        	<div class="Logo"><img src="images/logo_ffa.png" width="253" height="77"></div>
        	<div class="Menu">
                <ul>
                    <li>
                    	<a href="#">A FESTA</a>
                        <div class="Submenu_afesta Submenu_show">
                             <span class="Img_arrow_afesta"></span>
                             <div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green">Atibaia</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">História</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">História</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Alimentação</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Como chegar?</h2>
                                </div>                                                                                
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Colaboradores</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Programação</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Expositores</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->
                        </div>  
                    </li>
                    <li>
                    	<a href="#">FLORES</a>
                        <div class="Submenu_flores Submenu_show">
                          <span class="Img_arrow_flores"></span>
                             <div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange">Jardinagem</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Orquideas</h2>
                                </div>                                                                                  
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange">Flores</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Rosa</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Copo de Leite</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Margarida</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Ver todas</h2>
                                </div>                                                                                                            
                             </div><!-- end Content_submenu_bottom-->
                        </div>                          
                    </li>
                    <li>
                    	<a href="#">MORANGOS</a>
                        <div class="Submenu_morangos Submenu_show">
                          <span class="Img_arrow_morangos"></span>
 							<div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red">Espécies</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria chiloensis</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria daltoniana</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria moschata</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria vesca</h2>
                                </div>                                                                                                                 
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red">Receitas</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Torta de Morango</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Geléia de Morango</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Ver todas</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->                          
                        </div>                      
                    </li>
                    <li>
                    	<a href="#">IMPRENSA</a>
                        <div class="Submenu_imprensa Submenu_show">
                          	<span class="Img_arrow_imprensa"></span>
 							<div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Releases</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Material Gráfico</h2>
                                </div>                                                                                                                 
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fotos</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Assessoria de Imprensa</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->                                                        
                        </div>                          
                    </li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><a href="#">AREA DE GUIAS</a></li>
                    <li><a href="#">INGRESSOS</a></li>
                <ul>
            </div>
         
        </div>
    </div><!-- end Header -->
    <div id="Container">
    
		<div id="Box_left">
            <div class="Content_top">            
                <h1 class="Title_item_orange">Notícias</h1>	
                <h2 class="Title_2_item_red">Do you see any Teletubbies in here?</h2>
                <h3 class="Date_content_top">02/12/2011</h3>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
                    <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>                
                
            </div>
            <div class="Content_midle">
				<span class="Title_field_bmidle"><span class="Img_h1_gal_int_1"></span><h1 class="Title_gal_orange">Do you believe that shit? It actually says that in the little book that comes with it: the most </h1></span>	                      
               <div class="clear"></div> 
                <div id="Gallery_internal_box">	       
                    <div id="slideshow-carousel">				
                          <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                            <li><a href="images/5_big.gif" rel="p1"><img src="images/1.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p2"><img src="images/2.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p3"><img src="images/3.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p4"><img src="images/4.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p5"><img src="images/5.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p6"><img src="images/6.gif" width="129" height="141" alt="#"/></a></li>
                            <li><a href="images/5_big.gif" rel="p7"><img src="images/7.gif" width="129" height="141" alt="#"/></a></li>
                          </ul>
                    </div>    
                </div> 
                <div class="clear"></div>         
           </div><!-- end Content_midle -->
            <div class="Content_bottom">
				<span class="Title_field_bottom"><span class="Img_h1_video_int_1"></span><h1 class="Title_video_orange">Videos relacionados</h1></span>
                <div class="Box_videos_content">
                    <div class="Box_bottom_video">
                    	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
                    	<div class="Content_box_bot_videos">
         					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                            <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                        </div>                        
                        <span class="Date_box_bot_videos">02/12/2011</span>
                    </div> 
                    <div class="Box_bottom_video">
                    	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
                    	<div class="Content_box_bot_videos">
         					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                            <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                        </div>                        
                        <span class="Date_box_bot_videos">02/12/2011</span>
                    </div> 
                    <div class="Box_bottom_video">
                    	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
                    	<div class="Content_box_bot_videos">
         					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                            <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                        </div>                        
                        <span class="Date_box_bot_videos">02/12/2011</span>
                    </div>                                         
                </div>        
            </div>            
        </div><!-- end Box_left --> 
        <div id="Box_right">        
             <div class="Content_pub">
        		public 
        	 </div>
             <div class="Content_pub">
        		public 
        	 </div>             
             <div class="Content_pull">
        		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
                <div class="Pull_item_box">
                    <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                    <div class="clear"></div>
                </div>   
                <div class="Pull_item_box">    
                    <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
                    <div class="clear"></div>                                
                </div>   
                <div class="Pull_item_box">
                    <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                    <div class="clear"></div>
                </div>   
                <a class="Btn_pull_send"></a>      	
             </div>  
             <div class="Content_weather">
        		<h1 class="Title_weat_red">Previsão do Tempo</h1>
        	 </div>   
             <div class="clear"></div>                         
        </div><!-- end Box_right --> 
                
        
    <div id="Box_employees_1">
        <div class="Content_realization">
        	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Realização</h1></div>
        	<img src="images/logo_real_assiciacaohortolandiaatibaia.jpg" class="Swap Item_employees_1_logos">
        </div> 
        <div class="Content_support">
        	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Apoio</h1></div>
            <img src="images/logo_ap_prefeituraatibaia.jpg" class="Swap Item_employees_1_logos">
        </div>
        <div class="Content_sponsors">
        	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Patrocinadores</h1></div>
            <img src="images/logo_pat_novaschin.jpg" class="Swap Item_employees_1_logos">
            <img src="images/logo_pat_santander.jpg" class="Swap Item_employees_1_logos">
        </div>    
        <div class="clear"></div>              
    </div><!-- end Box_employees_1 -->             
    <div id="Box_employees_2">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_2">Colaboradores</h1></div>
        <img src="images/logo_col_acenbra.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_sindicatoruralatibaia.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_assprodutoresmorangoatibaia.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_proflor.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_saaeatibaia.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_kicor.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_cielo.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_cvc.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_govestadosaopaulo.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_caminhodamoda.jpg" class="Swap Item_employees_2_logos">
        <img src="images/logo_col_graal.jpg" class="Swap Item_employees_2_logos">
        
        <div class="clear"></div>
    </div><!-- end Box_employees_2 -->  
    <div class="clear"></div>   
    </div><!-- end Container -->
    <div id="Footer">
        <div class="Content_footer">
            <div class="Left_footer">
                <span class="Text_f_1">2012®  Festa de Flores e Morangos de Atibaia</span><br /><span class="Text_f_2">Parque Edmundo Zanoni. Avenida Horácio Neto, - Atibaia - SP</span>
            </div>
            <div class="Center_footer">
            <span class="Text_f_3">Central de Atendimento</span><br />
                <span class="Text_f_1">0800 555 979 </span><br />
                <span class="Text_f_3">8h às 12h e 13:30h às 17:30h</span>
            </div>
            <div class="Right_footer">
                <span class="Text_f_3" >Siga-nos</span><br />
                <p class="Cont_buttons"><a href="#" class="Img_twitter"></a><a href="#" class="Img_facebook"></a><a href="#" class="Img_youtube"></a></p>
            </div>  
        </div>           
    </div><!-- end Footer -->
</div><!-- end Bg_general -->
</div><!-- end General -->
</body>
</html>
