<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/1238488.js"></script>
<script type="text/javascript" src="js/ga.js"></script>
<script type="text/javascript" src="js/s_3961f1e3e7b83f3fd5733c0d91cc10ed.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.pack.js"></script>
<link href="css/bsa.css" rel="stylesheet" type="text/css">
<link href="css/skin.css" rel="stylesheet" type="text/css">
<link href="css/jquery.jcarousel.css" rel="stylesheet" type="text/css">
<script>
$(document).ready(function () {
         
    //jCarousel Plugin
    $('#carousel').jcarousel({
        vertical: true, //display vertical carousel
        scroll: 1,  //auto scroll
        auto: 2,    //the speed of scrolling
        wrap: 'last',   //go back to top when reach last item
        initCallback: mycarousel_initCallback   //extra called back function
    });
 
    //Front page Carousel - Initial Setup
    //set all the item to full opacity
    $('div#slideshow-carousel a img').css({'opacity': '0.5'});
     
    //readjust the first item to 50% opacity
    $('div#slideshow-carousel a img:first').css({'opacity': '1.0'});
     
    //append the arrow to the first item
    $('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')
 
  
    //Add hover and click event to each of the item in the carousel
    $('div#slideshow-carousel li a').hover(
        function () {
             
            //check to make sure the item is not selected
            if (!$(this).has('span').length) {
                //reset all the item's opacity to 50%
                $('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
                 
                //adust the current selected item to full opacity
                $(this).stop(true, true).children('img').css({'opacity': '1.0'});
            }       
        },
        function () {
                 
            //on mouse out, reset all the item back to 50% opacity
            $('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
             
            //reactivate the selected item by loop through them and look for the one
            //that has the span arrow
            $('div#slideshow-carousel li a').each(function () {
                //found the span and reset the opacity back to full opacity
                if ($(this).has('span').length) $(this).children('img').css({'opacity': '1.0'});
 
            });
                 
        }
    ).click(function () {
 
        //remove the span.arrow
        $('span.arrow').remove();
         
        //append it to the current item        
        $(this).append('<span class="arrow"></span>');
         
        //remove the active class from the slideshow main
        $('div#slideshow-main li').removeClass('active');
         
        //display the main image by appending active class to it.        
        $('div#slideshow-main li.' + $(this).attr('rel')).addClass('active');   
             
        return false;
    });
 
 
});
 
 
//Carousel Tweaking
function mycarousel_initCallback(carousel) {
     
    // Pause autoscrolling if the user moves with the cursor over the clip.
    // resume otherwise
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
}

</script>
</head>

<body>
<div id="welcomeHero">
                         
                <div id="slideshow-main">
                    <ul>
                        <li class="p1 active">
                            <a href="#">
                                <img src="images/1_big.gif" width="430" height="290" alt=""/>
                                <span class="opacity"></span>
                                <span class="content"><h1>Title 1</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
                            </a>
                        </li>
                        <li class="p2">
                            <a href="#">
                                <img src="images/2_big.gif" width="430" height="290" alt=""/>
                                <span class="opacity"></span>
                                <span class="content"><h1>Title 2</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
                            </a>
                        </li>
                        <li class="p3">
                            <a href="#">
                                <img src="images/3_big.gif" width="430" height="290" alt=""/>
                                <span class="opacity"></span>
                                <span class="content"><h1>Title 3</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
                            </a>
                        </li>
                     
                        ......
             
                    </ul>                                     
                </div>
                             
                <div id="slideshow-carousel">             
                      <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                        <li><a href="#" rel="p1"><img src="images/1.gif" width="206" height="95" alt="#"/></a></li>
                        <li><a href="#" rel="p2"><img src="images/2.gif" width="206" height="95" alt="#"/></a></li>
                        <li><a href="#" rel="p3"><img src="images/3.gif" width="206" height="95" alt="#"/></a></li>
                        ......
                      </ul>
                </div>
                     
                <div class="clear"></div>
                     
            </div>
</body>
</html>
